@model IEnumerable<PlanningParadiseAdmin.Models.Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .dataTables_info {
        display: none;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Index</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Gallery</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<p style="padding-left:20px">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <table id="data_table1" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gallery_Img)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gallery_Video)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img class="img-fluid" src="~/Images/gallery/@item.Gallery_Img" width="300" alt="Blog Image" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gallery_Video)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
<script>
    $(function () {
        $('#data_table1').DataTable({
            "paging": true,
            "lengthChange": false,
            "lengthMenu": [5, 10, 15, 20, 25],
            /*"lengthChange": false,*/
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
</script>

@if ((string)TempData["message"] != "")
{

    <script type="text/javascript">
        debugger;
        var msgtype = '@TempData["message"]';
    $(function () {
    const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000
    });


        if (msgtype == "Saved") {
            toastr.success('Saved Successfully')
        }
        if (msgtype == "Updated") {
            toastr.success('Updated Successfully')
        }
        if (msgtype == "Delete") {
            toastr.success('Deleted Successfully')
        }
        if (msgtype == "All already Exists") {
            toastr.error('Product Name is Already Exist')
        }
    });

        console.log(msgtype);
    </script>
}
