@model PlanningParadiseAdmin.Models.AboutUs
@{
    ViewData["Title"] = "AboutUs - The Planning Paradise";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using PlanningParadiseAdmin.Data;
@using PlanningParadiseAdmin.ViewModel;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
<section id="subheader" class="subheader_02 dark no-top no-bottom" data-stellar-background-ratio=".2">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center fadeScroll relative" data-scroll-speed="2">
                    <h2 data-scroll-speed="8">About</h2>
                    <div class="small-border"></div>
                    <div class="spacer-double"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-top no-bottom">
    <!-- section begin -->
    <section id="explore-1" class="side-bg">
        <!-- <div class="col-md-5 image-container wow fadeInLeft">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 pt40 pb40">
                    <h2 class="s1">Who We Are</h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque
                        ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                        quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi
                        nesciunt.
                    </p>
                    <a href="contact.html" class="btn btn-custom">View Packages</a>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="aboutus-content">
                    <div class="aboutus-header">
                        <h2 class="aboutus-title">@Model.About_Heading</h2>
                        <div class=""><img src="~/userasset/images_02/background/floral-4.png"></div>
                    </div>
                    <p>
                        @Model.About_Para1
                    </p>

                    <p>
                        @Model.About_Para2
                    </p>
                    <p>
                        @Model.About_Para3
                    </p>
                    <p>
                        <span style="font-weight: bolder; color: purple;">
                            @Model.About_Qoute
                        </span>
                    </p>
                </div>
            </div>
        </div>

    </section>
    <!-- section close -->
    <!-- Why Chooese Us -->

    <section id="whychooseus">
        <div class="container">
            <div class="row">
                <div class="whychooseus-content">
                    @{
                        var WhyChooseUs = SessionHelper.GetObjectFromJson<IList<WhyChoosUs>>(Context.Session, "WhyChooseUs");
                        if (WhyChooseUs != null)
                        {
                            <div class="whychooseus-header">
                                <h2 class="whyus-title">@WhyChooseUs.FirstOrDefault().WhyUS_Heading ?</h2>
                                <div class=""><img src="~/userasset/images_02/background/floral-4.png"></div>
                            </div>
                            <p>
                                @WhyChooseUs.FirstOrDefault().WhyUs_Text
                            </p>
                        }
                        }

                <ul class="whyus-list">
                    @{ 
                        var WhyChooseUsPoints = SessionHelper.GetObjectFromJson<IList<WhyChoosePoints>>(Context.Session, "WhyChooseUsPoints");
                        if (WhyChooseUsPoints != null)
                        {
                            foreach (var item in WhyChooseUsPoints.GroupBy(Obj => new { Obj.Id }).Distinct().ToList())
                            {
                                <li>
                                    @item.FirstOrDefault().PointText;
                                </li>
                            }
                        }
                        }

                </ul>
                            
                        
                    </div>
                </div>
            </div>
        </section>
       
        <!-- Our Team Section -->

        <section id="our-team">
            <div class="container">
                @{
                    var Teams = SessionHelper.GetObjectFromJson<IList<Team>>(Context.Session, "Teams");
                    if (Teams != null)
                    {
                        foreach (var item in Teams.GroupBy(Obj => new { Obj.ID }).Distinct().ToList())
                        {
                            <div class="directors-profile">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="director-img">
                                             <img src="~/Images/team/@item.FirstOrDefault().Member_Img" alt="" class="img-fluid"> 
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <div class="director-content">
                                            <h2 class="director-title">
                                                @item.FirstOrDefault().Member_Name <span class="subtitle"
      style="font-size:16px; margin-left: 10px;">- @item.FirstOrDefault().Designatin</span>
                                            </h2>
                                            <p class="director-text">
                                                @item.FirstOrDefault().Member_Text
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                            }
                        }
                    }
                        </div>
        </section>

        <!-- Our Team Section End -->
    </div>
