@model PlanningParadiseAdmin.Models.Home
@{
    ViewData["Title"] = "Home - The Planning Paradise";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@using PlanningParadiseAdmin.Data;
@using PlanningParadiseAdmin.ViewModel;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

<div id="content" class="no-bottom no-top">

    <!-- section begin -->
    <section id="section-hero" class="full-height relative text-light z1 owl-slide-wrapper"
             data-stellar-background-ratio=".2">

        <div class=" owl-slider-nav">
            <div class="next"></div>
            <div class="prev"></div>
        </div>

        <!-- <div class="center-y fadeScroll text-center relative" data-scroll-speed="4"> -->
        <!-- <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="spacer-double"></div>
                <h1 class='s2'>Bespoke Wedding Planning</h1>
                <h4 class='s3'>Wedding Planner</h4>
                <div class="spacer-double"></div>
            </div>
        </div>
    </div> -->
        <!-- </div> -->
       

        <div id="custom-owl-slider" class="owl-slide" data-scroll-speed="2">
            @{
                var Sliders = SessionHelper.GetObjectFromJson<IList<SliderVM>>(Context.Session, "Sliders");
                if (Sliders != null)
                {
                    foreach (var item in Sliders.GroupBy(Obj => new { Obj.ID }).Distinct().ToList())
                    {
                    <div class="item">
                        <img src="~/Images/slider/@item.FirstOrDefault().Slider_Img" alt="">
                        <div class="fadeScroll" style="position: absolute; top: 55%; left: 10%;">
                            <h1 class='s2'>@item.FirstOrDefault().Slider_Heading</h1>
                            <h4 class='s3'>@item.FirstOrDefault().Slider_SubHead</h4>
                            <div class="spacer-double"></div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    }
                }
                }
                   
                </div>

            </section>
</div>
<!-- section close -->
<!-- section begin -->
<section id="section-about">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="s1">@Model.Welcome_Heading</h2>
                <div class="small-border"></div>
                <p class="lead">
                    @Model.Welcome_Text
                </p>
            </div>

            <div class="spacer-single"></div>


        </div>
    </div>
</section>
<!-- section close -->
<!-- Home Gallery -->
<div class="image-gallery">
    <div class="image-box">
        <!-- <img
          src="https://images.unsplash.com/photo-1512258847512-e20a0714d631?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=725&q=80"
          alt="img.jpg"
        /> -->
        <div class="text-div">
            <h2 class="s1">@Model.WWA_Heading</h2>
            <hr class="heading-hr">
            <p>
                @Model.WWA_Text
            </p>
            <a asp-action="AboutUs" class="btn btn-custom">Read More</a>
        </div>
        <!-- <div class="hgallery-overlay">
          <div class="details">
            <h3 class="title">
              <a href="#">Your Title</a>
            </h3>
            <span class="category">
              <a href="#">Category</a>
            </span>
          </div>
        </div> -->
    </div>
    @{
        var wwAImages = SessionHelper.GetObjectFromJson<IList<WWAImagesVM>>(Context.Session, "WWAImages");
        if (wwAImages != null)
        {
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img1" alt="img.jpg" />

            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img2" alt="img.jpg" />
            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img3" alt="img.jpg" />
            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img4" alt="img.jpg" />
            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img5" alt="img.jpg" />

            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img6" alt="img.jpg" />

            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img7" alt="img.jpg" />

            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img8" alt="img.jpg" />

            </div>
            <div class="image-box">
                <img src="~/Images/wwaImages/@wwAImages.FirstOrDefault().WWA_Img9" alt="img.jpg" />

            </div>
        }
        }
        </div>
<!-- Home Gallery End -->
<!-- Testimonial  -->
<section id="testimonial" class="testimonial owl-carousel text-center">
    @{
        var testimonials = SessionHelper.GetObjectFromJson<IList<TestimonialVM>>(Context.Session, "Testimonials");
        if (testimonials != null)
        {
            foreach (var item in testimonials.GroupBy(Obj => new { Obj.ID }).Distinct().ToList())
            {
                <div class="test-slide">
                    <div class="item">
                        <div class="testimonial4_slide">

                            <p style=" text-overflow: ellipsis;">
                                @item.FirstOrDefault().Testimonial_Text
                            </p>
                            <h4>@item.FirstOrDefault().Testimonial_Name</h4>
                        </div>
                    </div>
                </div>
                }
            }
        }
                
            </section>
<!-- Testimonial End -->
<!-- section begin -->
<section class="call-to-action bg-color text-light pt40 pb30 bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="mt10">Looking for best planner for your wedding day?</h4>
            </div>

            <div class="col-md-4 text-right">
                <a href="contact.html" class="btn btn-border">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<script src="~/userasset/js/jquery.min.js"></script>
<script type="text/Javascript">

    $(document).ready(function () {
        $('#testimonial').owlCarousel({
            items: 1,
            singleItem: true,
            navigation: false,
            pagination: true,
            autoPlay: true,
            autoPlaySpeed: 1000,
            mouseDrag: true,
            touchDrag: true,
        })

    })

</script>