@model IEnumerable<PlanningParadiseAdmin.Models.Team>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designatin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member_Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member_Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcctive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designatin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member_Text)
            </td>
            <td>
                <img class="img-fluid" src="~/Images/team/@item.Member_Img" alt="Blog Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcctive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
