@model PlanningParadiseAdmin.Models.DestinationWedding

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DestinationWedding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination_Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination_Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination_Heading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination_Heading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNational)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNational)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInterNational)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInterNational)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
